.confirmation {
  padding: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.table {
  margin-top: 20px;
}

.remove {
  margin-top: 10px;
  display: block;
  margin-left: auto;
}

.selected {
  background-color: rgb(189, 189, 189);
}
