.red {
  background-color: red;
}

.content {
  padding: 20px;
}

.select {
  max-width: 200px;
}

.actions {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.headActions {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
